{% extends 'base.html' %}
{% block head_content %}
<title>Dilemmable - Log in</title>
{% endblock %}

{% block content %}

{% if form.errors and not form.non_field_errors %}
<p class="error">
  {% if form.errors.items|length == 1 %}
    Please correct the error below.
  {% else %}
    Please correct the errors below.
  {% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class=" error">
  {{ error }}
</p>
{% endfor %}
{% endif %}

<form action = "{{ request.path }}" method = "post">{% csrf_token %}
  {% for field in form %}
  <div class = "group-row">
    {{ field.label_tag }}
    {{ field }}
    {% for error in field.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>
  {% endfor %}
  <div class = "button-bar">
    <button class = "green-button">Log In</button>
    <a class = "green-button" href = "{% url 'password_reset' %}">Forgot Password</a>
  </div>
</form>
{% endblock %}
