{% extends 'base.html' %}

{% block head_content %}
<title>Dilemmable - Reset Password</title>
{% endblock %}

{% block content %}

<p>If an account exists with the email you entered, you will soon receive an email for resetting your password.</p>

<p>If multiple accounts are registered with the email address you entered, an email with password reset instructions will be sent for each account.</p>

<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

{% endblock %}
